{% extends 'base.html' %}
{% block content %}
<form method="post" class="buttons">
    <h2>Enter The Chat Room</h2>
    <div>
        <label>Name:</label>
        <input type="text" placeholder="Pick a name!" name="name" value="{{name}}"/>
    </div>
    <div class="join">
        <input type="text" placeholder="Room Code" name="code" value="{{code}}"/>
        <button type="submit" name="join">Join a Room</button>
    </div>
    <button type="submit" name="create" class="create-btn">Create a Room</button>

    <div class="rooms-table">
        <h3>Available Chat Rooms:</h3>
        <table>
            <tbody>
                {% for room in all_rooms %}
                <tr>
                    <td>{{ room }} | {{all_rooms[room]['members']}} member(s)</td>
                </tr>
                {% else %}
                <tr>
                    <td>No rooms available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}